.navbar {
  background: #15294b;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px 100px;
  font-family: Raleway;
  align-items: center;
  position: fixed;
  width: 87%;
  margin-top: 80px;
  height: 50px;
}

.navbar-heading {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
}

.navbar-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}

.percent {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-transform: capitalize;
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
  position: absolute;
}
.fadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
  position: absolute;
}

.navbar2 {
  background: #15294b;
  color: white;
  padding: 20px 100px;
  font-family: Raleway;
  align-items: center;
  position: fixed;
  width: 87%;
  margin-top: 160px;
  height: 60px;
  z-index: 100;
}
